
.hello {
    width: 350px;
box-sizing: border-box;
padding: 8px;
border: 1px solid black;
}
span {
    font-size: 1.4em;
}

#timer-hours, #timer-minutes, #timer-seconds, #timer-ampm {
    font-weight: bold;
}

#timer-ampm {
    color: red;
}

.text {
    margin: 60px 0 0 40px;
}